.box{
    width: 320px;
    height: 60px;
    padding: 0 20px 0 20px;
    border-radius: 100px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16);
    position: relative;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99998;
    background-color: #f8f8f8;
}
.textGrp{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}
.textGrp div:nth-child(1){
    font-size: 20px;
    font-weight: 700;
}
.textGrp div:nth-child(2){
    font-size: 15px;
    color: #6b6b6b;
}
.searchImg{
    width: 20px;
    height: 20px;
    background: url(../../../../img/icon/magnifying-glass-solid.svg);
    background-repeat: no-repeat;
}