.backBtn{
    position : absolute;
    left : 30px;
    top : 25px;
}

.areabox {
    border: none;
    width: 300px;
    height: 80px;
    border-radius: 32px;
    position: relative;    
    left: 50%;
    transform: translate(-50%, 80%);
    background-color: white;    
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    padding : 28px;
    box-sizing: border-box;
}

.datebox {
    width: 300px;
    height: 450px;
    border: 1px solid none;
    border-radius: 32px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 20%);
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.date {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.cal {
    position: absolute;
    top: 55px;
    width: 300px;
}


