.wrap{
    width: 100%;
    height: 100px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #f8f8f8;
}
.icon{
    position: absolute;
    top : 50px;
    left : 30px;
    transform: translateY(-50%);;
}
.myprofile{
    height : 100px;
    display : flex;
    align-items: center;
    justify-content: center;
}



.box{
    width : 100px ;
    height : 100px;
}

.imgdiv {
    display : flex;
    justify-content: space-between;
    align-items: center;
    padding : 30px;
}
.imgback{
    background-color: white;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    width : 70px;
    height : 70px;
    border-radius: 70%;
}
.img {
    width : 40px;
    position : relative;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
}
.edit {
    width : 30px;
}

.myprofile_h2{
    width : 355px;
    border-bottom : 1px solid black;
    margin-left : 30px;
    padding-bottom : 30px;
}

.myprofile_h3{
    margin : 30px;
    font-size: medium;
}