.swiper{
    height : 250px;
    width : 350px;
}

.swiperslide{
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    flex-direction: column;
}

.swiperslide img{
    width : 170px;
    height : 150px;
    border-radius: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

}

.swiperslide h1{
    font-size: medium;
    padding-top: 20px;
}
