.wrap{
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: #f8f8f8;
}

.icon{
    position: absolute;
    top : 50px;
    left : 30px;
    transform: translateY(-50%);;
}

.myinfo{
    height : 100px;
    display : flex;
    align-items: center;
    justify-content: center;
}

.box{
    width : 100px;
    height : 100px;
}

.myinfonav{
    display: flex;
    flex-direction: row;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    justify-content:space-between;
    
    
    width: 100%;
    text-align: center;
}
.myinfonav a{
    width: 100%;
    text-align: center;
    /* border-bottom : 1px solid rgba(0, 0, 0, 0.2); */
    padding: 10px;
    font-size: 12px;
    box-sizing: border-box;
}

.block{
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
}

a{
    text-decoration: none;
}