.imgdiv{
    display: flex;
    justify-content: center;
    padding : 40px;
}
.imgback{
    width : 200px;
    height : 200px;
    border-radius: 70%;
    background-color: white;
    box-shadow : 0 3px 5px rgba(0, 0, 0, 0.2);
}

.img{
    width : 120px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.blockbox{
    display : flex;
    /* justify-content: center; */
    flex-direction: column;
    width : 100%;
    height : 350px;
    align-items: center;
}
.block0{
    width : 350px;
    /* border : 1px solid black; */
    border-radius: 15px;
    background-color: white;
    padding : 10px;
    box-shadow : 0 3px 5px rgba(0, 0, 0, 0.2);
}
.block{
    width : 350px;
    /* border : 1px solid black; */
    border-radius: 15px;
    background-color: white;
    padding : 10px;
    box-shadow : 0 3px 5px rgba(0, 0, 0, 0.2);
    margin-top: 25px;
}
.input{
    border : none;
    font: 1em sans-serif;
    font-weight: bold;
    width : 350px;
}
.input:focus{
    outline: none;
}

.input2{
    display: flex;
    justify-content: space-between;
    
}

.button{
    /* align-items: center; */
    width : 105px;
    height : 45px;
    border-radius : 12px;
    border : none;
    background-color: rgb(94, 117, 230);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);;
    color : white;
    font-size : 15px;
    font-weight: bold;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);;

}