* {
  margin: 0;
  padding: 0;
  /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none; */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html {

  -ms-content-zooming: none;
  -ms-touch-action: pan-x pan-y;
  
  }
body {
  background-color: #f8f8f8;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.cursor {
  position: relative;
  width: auto;
  height: 50px;
  top: -50px;
  transition: 0.5s ease-in-out;
}

.swiper {
  width: 100%;
  height: 100%;
}
.swiper-wrapper{
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet{
  background: #fff !important;
  opacity: 0.5 !important;
}
.swiper-pagination-bullet-active{
  background: #ffd500 !important;
  opacity: 1 !important;
}


.transitions-wrapper {
  position: relative;
  overflow: hidden;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}
.right-enter {
  transform: translateX(100%);
}

.right-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-in-out;
}

.right-exit {
  transform: translateX(0);
}

.right-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
}
::-webkit-scrollbar{
  display: none;
}