.wrap {
    background-color: white;
    height: 100%;
}

.wish {
    position: relative;
    text-align: center;
    top: 15px;
}

.div {
    background-color: white;
    height: 100%;
}

.list {
    display: flex;
    width: 90%;
    height: 85%;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);       
}
