.wrap {
    width: 100%;
    height: auto;
}

.backBtn {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 36px;
    height: 36px;
    z-index: 99997;
    background-color: #f8f8f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    z-index: 99997;
    /* background-color: #f8f8f8; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wishBtnItem1 {
    position: absolute;
    z-index: 99998;
    transition: 0.2s ease-in-out;
}

.wishBtnItem2 {
    position: absolute;
    z-index: 99999;
    transition: 0.2s ease-in-out;
}

.itemImg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    flex: none;
    z-index: 99999;
}

.titleWrap {
    padding: 30px 20px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    box-sizing: border-box;
}

.titleWrap h1 {
    width: 100%;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
}

.titleWrap div {
    width: 100%;
    margin-top: 10px;
}

.titleWrap div:last-child {
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.hostWrap {
    padding: 30px 20px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    box-sizing: border-box;
}

.hostWrap_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hostWrap>div:last-child {
    /* width: 100%; */
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.hostWrap_textBox {}

.hostWrap_category {
    font-weight: bold;
    font-size: 30px;
}

.hostWrap_host {
    margin-top: 10px;
    font-size: 20px;
}

.hostWrap_detailInfo {
    margin-top: 10px;
}

.hostWrap_imgBox {}

.profileCircle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    background-size: cover;
}

.MapInfoWrap {
    padding: 30px 20px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    box-sizing: border-box;
}

.MapInfoWrap_title {
    font-size: 30px;
    font-weight: bold;
}

.map {
    width: 100%;
    height: 300px;
    /* height: calc(100%); */
    position: relative;
    top: 0;
    left: 0;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.MapInfoWrap div:last-child {
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.FacilitiesWrap {
    padding: 30px 20px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    box-sizing: border-box;
}

.FacilitiesWrap_title {
    font-size: 30px;
    font-weight: bold;
}

.FacilitiesWrap_item {
    width: 100%;
    height: 120px;
    overflow: hidden;
}

.item {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.item svg {
    width: 30px;
    height: 30px;
}

.item span {
    margin-left: 20px;
    font-size: 20px;
}

.facilities_allBtn {
    width: 300px;
    height: 50px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

.FacilitiesWrap>div:last-child {
    margin-top: 30px;
    border-bottom: 1px solid gray;
}

.ReviewInfoWrap {
    height: auto;
    overflow: auto;
}

.review_swiper {
    padding: 20px;
    box-sizing: border-box;
}

.review_swiper::-webkit-scrollbar {
    display: none;
}

.review_header {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px 0 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 30px;
    font-weight: bold;
}

.swiperSlide {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 200px;
    border-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    align-items: baseline;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 20px;
    /* margin-right: 30px; */
}

.reviewUser_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reviewUser_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: relative;
    top: 0;
    left: 0;
}

.reviewUser_info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    width: 180px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: start;
}

.reviewUser_info div:nth-child(2) {
    font-size: 12px;
    color: #aaa;
    margin-top: 3px;
}

.reviewUser_content {
    width: 260px;
    height: 67px;
    margin-top: 10px;
    text-align: start;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    word-break: break-word;
    overflow: hidden;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.swiperSlide>div:last-child {
    text-decoration: underline;
    font-weight: bold;
}

.ReviewInfoWrap>div:last-child {
    padding: 0 20px 0 20px;
    width: 100%;
    box-sizing: border-box;
}

.ReviewInfoWrap>div:last-child>div {
    margin-top: 10px;
    border-bottom: 1px solid gray;
}

.RulesInfoWrap{
    padding: 30px 20px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    box-sizing: border-box;
}
.rules_title{
    font-size: 30px;
    font-weight: bold;
}
.rules_content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.RulesInfoWrap > div:last-child{
    margin-top: 30px;
    border-bottom: 1px solid gray;
}
.ReportWrap{
    padding: 30px 20px 0 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; */
    box-sizing: border-box;
    font-size: 20px;
    text-decoration: underline;
}
.ReportWrap div:last-child{
    margin-left: 20px;
}
.footerWrap {
    width: 100%;
    height: 80px;
    background-color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 99997;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}
.payText div:last-child{
    font-size: 12px;
    text-decoration: underline;
    margin-top: 5px;
}
.payBtn{
    width: 120px;
    height: 50px;
    border-radius: 15px;
    background-color: #5e75e6;
    color: white;
    text-align: center;
    line-height: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.footerEmpty {
    width: 100%;
    height: 130px;
}